.remark-code{color:#a5682a;}

a:hover,a:focus{text-decoration:underline;}

.title-slide{background-image: url("../img/title_background.png");background-position:center;background-size:cover;}
.pull-leftt{float: left;width: 27%;}
.pull-rightt{float: right;width: 67%;}
.pull-rightt ~ *{clear: both;}
.small{font-size:0.635em;}
.ssmall{font-size:0.635em;}
.verysmall{font-size:0.675em;}
.nolink{color:#49847b;}
.nolink:hover{color:#a52a2a;}
.inst{font-size:0.75em;}
.img-source-tiny{ font-size: 70% }
.big{font-size:1.5em;}

.btn-xs a {
    text-decoration: none;
}

.btn-xs a:visited {
    text-decoration: none;
}

.btn-xs a:hover, .btn-xs a:focus {
    color: white;
}

.btn-xs a {
  font-family: monospace;
  color: white;
  border: 1px solid #294557;
  background-color: #294557;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  margin-right: 5px;
}

.btn-xs a:hover, .btn-xs a:focus {
  border: 1px solid white;
}

.github .fa-github {
  color: #294557;
}

.github .fa-github:hover {
  color: #697c89;
}

i.dark{color:#3f3f3f;}
