.remark-code{color:#a5682a;}

a:hover,a:focus{text-decoration:underline;}

.title-slide{background-image: url("../img/title_background.png");background-position:center;background-size:cover;}
.pull-leftt{float: left;width: 27%;}
.pull-rightt{float: right;width: 67%;}
.pull-rightt ~ *{clear: both;}
.small{font-size:0.635em;}
.ssmall{font-size:0.635em;}
.verysmall{font-size:0.675em;}
.nolink{color:#49847b;}
.nolink:hover{color:#a52a2a;}
.inst{font-size:0.75em;}
.img-source-tiny{ font-size: 70% }
.big{font-size:1.5em;}
  