
.reveal section img { background:none; border:none; box-shadow:none; }

.reveal .caption {font-size: 0.7em;}

.reveal .reference {
  font-size: 0.6em;
  color: #959D9D;
}

.reveal .green {color: #BCD423;}

.reveal .small {
  font-size: 0.5em;
}

.reveal .big {
  font-size: 2em;
}

.reveal .very_big {
  font-size: 5em;
}

.container{
    display: flex;
}

.col{
    flex: 1;
}
